.sui-OverlaidPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.sui-OverlaidPanel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3A3A3A;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.sui-OverlaidPanel-pane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 700px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    opacity: 0;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transform: translate3d(20%, 0px, 0px);
}

.sui-OverlaidPanel.is-open {
    pointer-events: auto;
}

.sui-OverlaidPanel.is-open > .sui-OverlaidPanel-overlay {
    opacity: .45;
}

.sui-OverlaidPanel.is-open > .sui-OverlaidPanel-pane {
    opacity: 1;
    transform: translate3d(0%, 0px, 0px);
}
