body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.fui-SunIcon {
  width: 200px;
  height: 200px;
}

.fui-SunIcon-base {
  fill: green;
}

.fui-SunIcon-ray {
  fill: gray;
}

.fui-SunIcon-ray-2 {
  fill: blue;
}

.fui-SunIcon-ray-3 {
  fill: orange;
}

.fui-SunIcon-ray-7 {
  fill: red;
}
